.logo {
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.logoText_1{
    color: red;
    animation: light 2.3s linear infinite;
}

.logoText_2{
    color: green;
    animation: light2 2.3s linear infinite;
    animation-delay: 3000ms;
}

.logoText_1:hover{
    color: green;
}

.logoText_2:hover{
    color: red;
}

@keyframes light {
    0%{
        color: red;
    }
    90%{
        color: green;
    }
    100% {
        color: green;
        text-shadow: 0 0 .4rem red,0 0 3rem rgb(15, 2, 2);
    }
}
@keyframes light2 {
    0%{
        color: green;
    }
    90%{
        color: red;
    }
    100% {
        color: red;
        text-shadow: 0 0 .4rem red,0 0 3rem rgb(15, 2, 2);
    }
}